/* font-family: 'Fugaz One', cursive;
font-family: 'Roboto Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Roboto+Condensed:300,700');

#wrapper{
  max-width: 960px;
  margin:0 auto;
}

header{
  width:350px;
  margin: 0 auto;
}

nav{
  width:350px;
  margin: 0 auto 50px;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav li{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

nav li:after{
  content: "";
}

nav a {
  text-decoration: none;
  color: #fb0002;
}

nav a:visited {
  color: #0a0a0a;
}

nav a:hover {
  color: #fb0002;
}

nav a:active {
  color: #fb0002;
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #f0f0f0;
}

header h1 {
  margin-left: -10000px;
  height: 0;
}

h1{
  font-family: 'Fugaz One', cursive;
  color:black;
}

h2{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color:black;
  font-family: 'Fugaz One', cursive;
}

h3{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color:black;
}

h4{
  color: #fb0002;
  font-size: 25px;
  font-family: 'Fugaz One', cursive;
}

h5{
  font-size: 20px;
}

h6{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h4,li{
  display: inline-block;
  margin:0;
}

h4,li:after{
  content:"  //  "
}

li:last-child:after{
  content:"";
}

/* h6,p{
  display: inline-block;
  margin:0;
}

h6:after{
  content:"  ...  "
}

p:last-child:after{
  content:"";
} */

a{
  color: #0a0a0a;
}

a:hover{
  color:#fb0002;
}

footer a{
  color: #f0f0f0;
}

p{
  padding-bottom: 10px;
}

article{
  background-color: #0a0a0a;
  padding: 40px;
  margin: 30px 0px;
}

.infoBlock{
  font-size: 20px;
  color: #0a0a0a;
  padding-right: 20px;
  text-align: center;
}

#missionStatement{
  font-size: 20px;
  background-color: #0a0a0a;
  width:352px;
  margin: 0 auto;
  padding: 10px 304px;
}

#aboutParagraphs{
  padding: 30px;
}

#menuBegin {
  text-align:center;
  width: 960px;
  margin: 20px auto;
  display: inline-block;
}

#footer{
  background-color:#0a0a0a;
  padding: 20px 0px;
  text-align: center;
  margin-top: 60px;
  font-size: 10px;
}

/* everything below this point is for grids */

.drinksGrid{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;

  grid-template-areas:
  "hotDrinks hotDrinks iced"
  "smoothiesShakes smoothiesShakes naturalJuices"
  "additionalBeverages additionalBeverages beerWine"
}

#hotDrinks{
  grid-area: hotDrinks;
}

#iced{
  grid-area: iced;
}

#smoothiesShakes{
  grid-area: smoothiesShakes;
}

#naturalJuices{
  grid-area: naturalJuices;
}

#additionalBeverages{
  grid-area: additionalBeverages;
}

#beerWine{
  grid-area: beerWine;
}

.lunchGrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;

  grid-template-areas:
  "houseFavorites houseFavorites houseFavorites houseFavorites"
  "seafood chicken beef pork"
}

#seafood{
  grid-area: seafood;
}

#chicken{
  grid-area: chicken;
}

#beef{
  grid-area: beef;
}

#pork{
  grid-area: pork;
}

#houseFavorites{
  grid-area: houseFavorites;
}

.contactGrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

  grid-template-areas:
  "contactInfo indianContactImage"
}

#contactInfo{
  grid-area: contactInfo;
}

#indianContactImage{
  grid-area: indianContactImage;
}

.aboutGrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

  grid-template-areas:
  "ourFamily ourHistory"
}

#ourFamily{
  grid-area: ourFamily;
}

#ourHistory{
  grid-area: ourHistory;
}
